* {
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
  height: 100vh;
}



.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  z-index: 99;
}


