* {
  margin: 0;
  padding: 0;
}


:root {
  --primary: #222;
  --primary-contrast: #ffffff;
  --primary-darker: darken(var(--primary), 20%);

  --background: #ffffff; 
  --background-contrast: #000;
}

.App {
  text-align: center;
  height: 100vh;
}

.background {
  background-color: var(--background);
  color: var(--background-contrast);
}

.primary {
  background-color: var(--primary);
  color: var(--primary-contrast);
}


.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  z-index: 99;
}


